.games {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.games__title {
	font-size: 3rem;
  margin: 5rem 0 6.5rem;
}

.list-group-item {
	padding: 3.2rem;
}

.list-group-item__location {
	font-size: 1.3rem;
	margin-top: -2.5rem;
}

.match {
  font-size: 2.5rem;
  margin: 1.5rem 0 .4rem -.1rem;
}

.logo-left {
  padding-left: 1rem;
  padding-right: 2rem;
  width: 5.8rem;
}

.logo-right {
  padding-left: 2rem;
  padding-right: 1rem;
  width: 5.8rem;
}

.games__delimiter {
  color: grey;
  font-size: 1.5rem;
  padding: 0 .9rem;
}

.empty-score {
  padding: 0 .6rem;
}

.summary {
  font-size: 1.2rem;
  margin-bottom: -2.9rem;
  margin-top: 1.5rem;
  text-align: center;
}

.summary a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .list-group-item {
    padding: 3.3rem 1.5rem;
  }

  .games_col {
    margin-bottom: 5rem;
    margin-left: -14rem;
    width: 93rem;
  }

  .games__title {
    margin: 4rem 0 3.5rem;
  }

  .match {
    font-size: 3rem;
    margin-top: 1.6rem;
    padding-top: 1rem;
  }
  
  .logo-left {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 5rem;
  }
  
  .logo-right {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 991px) {
  .games_col {
    margin-bottom: 5rem;
    margin-left: -2rem;
    width: 68rem;
  }

  .games__title {
    margin-top: .5rem;
  }
  
  .match {
    font-size: 2.8rem;
    margin: 1.1rem 0 0;
  }

  .logo-left {
    width: 4.5rem;
  }
  
  .logo-right {
    width: 4.5rem;
  }
}

@media only screen and (max-width: 840px) {
  .logo-left {
    width: 4rem;
  }
  
  .logo-right {
    width: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .games_col {
    margin-bottom: 2rem;
    margin-left: -2rem;
    width: 68rem;
  }

  .match {
    font-size: 2rem;
    margin: 1.1rem .8rem 0;
  }

  .logo-left {
    width: 4rem;
  }
  
  .logo-right {
    width: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .games {
    width: 50rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 50rem;
  }
}

@media only screen and (max-width: 415px) {
  .games {
    width: 38rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 38rem;
  }

  .match {
    font-size: 2rem;
    margin: 1.1rem 3rem 0;
  }

  .logo-left {
    width: 4.5rem;
  }
  
  .logo-right {
    width: 4.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .games {
    width: 35rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 35rem;
  }
}

@media only screen and (max-width: 375px) {
  .games {
    width: 35rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 35rem;
  }

  .match {
    font-size: 2rem;
    margin: 1.1rem 3rem 0 1rem;
  }

  .logo-left {
    width: 4rem;
  }
  
  .logo-right {
    width: 4rem;
  }
}

@media only screen and (max-width: 360px) {
  .games {
    width: 33rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 33rem;
  }

  .match {
    font-size: 2rem;
    margin: 1.5rem 0 .4rem -.1rem;
  }
}

@media only screen and (max-width: 320px) {
  .games {
    width: 29rem;
  }

  .games_col {
    margin-bottom: 2rem;
    margin-left: 0;
    width: 29rem;
  }

  .match {
    font-size: 2.2rem;
    margin: 1.1rem .8rem 0;
  }
}