.header {
	background: #60cc22;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header__title {
	color: white;
	font-size: 4rem;
	margin: 0 auto;
	text-align: center;
	padding-top: .5rem;
}

.header__menu {
	font-size: 2.5rem;
	padding: .5rem 3rem 0 0;
}

a.nav-link {
	cursor: default;
}

.header__menu__item {
	font-size: 2rem;
}

.dropdown:hover .dropdown-menu {
	display: block;
	top: 5.3rem;
	right: 2.9rem;
}