.header {
	background: darkgreen;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header__title {
	color: white;
	font-size: 4rem;
	margin: 0 auto;
	text-align: center;
	padding-top: .5rem;
}

.header__menu {
	font-size: 2.5rem;
	padding: 1rem 4rem 0 0;
}

a.nav-link {
	cursor: default;
}

.header__menu__item {
	font-size: 2rem;
}

.header__menu__item:hover {
  color: grey;
  background: lightgrey;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 2.9rem;
	top: 5.3rem;
}

.header__menu-options {
  display: none;
}

.header__button {
  background: lighten($color: green, $amount: 5%);
  border: none;
  border-radius: 8px;
  color: white;
  width: 14rem;
}

@media only screen and (max-width: 700px) {
	.header__title {
    width: 55rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header__menu {
    padding: 1rem 4rem 0 0;
  }

  .dropdown:hover .dropdown-menu {
    top: 4.2rem;
  }
}

@media only screen and (max-width: 630px) {
  .header__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 44rem;
  }
}

@media only screen and (max-width: 540px) {
  .header__title {
    font-size: 4rem;
    margin-right: 3rem;
  }

  .header__menu {
    display: none;
  }

  .header__menu-options {
    display: flex;
    a {
      color: white;
      font-size: 1.8rem;
      display: inline;
      margin: .5rem 6rem;
      align-items: center;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 415px) {
  .header__title {
    font-size: 2.4rem;
    margin-left: 2.7rem;
  }

  .header__menu-options {
    display: flex;
    a {
      color: white;
      display: inline;
      font-size: 1.7rem;
      justify-content: space-around;
      margin: 1rem 3.2rem;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 390px) {
  .header__title {
    font-size: 2.2rem;
    margin-left: 3rem;
  }

  .header__menu-options {
    display: flex;
    a {
      color: white;
      display: inline;
      font-size: 1.5rem;
      justify-content: space-between;
      margin: 1rem 1.2rem 1rem 3rem;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .header__title {
    font-size: 2rem;
    margin-left: 3.5rem;
  }

  .header__menu-options {
    display: flex;
    a {
      color: white;
      display: inline;
      font-size: 1.5rem;
      justify-content: space-between;
      margin: 1rem 1.2rem 1rem 4.2rem;
      text-decoration: none;
    }
  }

  .header__button {
    width: 12rem;
  }
}

@media only screen and (max-width: 320px) {
  .header__title {
    font-size: 2.8rem;
  }

  .header__menu-options {
    display: flex;
    a {
      color: white;
      display: inline;
      font-size: 1.8rem;
      justify-content: space-between;
      margin: 1rem 2rem 1rem 9rem;
      text-decoration: none;
    }
  }

  .header__button {
    width: 12rem;
  }
}