.shield-left {
  margin-left: 2rem;
}

.shield-right {
  margin-right: 2rem;
}

.cariri-left {
  font-size: 2.2rem;
  margin-left: 6rem;
}

.cariri-right {
  font-size: 2.2rem;
  margin-right: 6rem;
}

.score-penalties-left {
  font-size: 2rem;
  margin-left: 1rem;
}

.score-penalties-right {
  font-size: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1199px) {
  .unknown-team-left {
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .unknown-team-right {
    font-size: 2.2rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .known-team-left {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: .8rem;
  }

  .known-team-right {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: .8rem;
  }

  .cariri-left {
    font-size: 2rem;
    margin-left: 4.8rem;
  }

  .cariri-right {
    font-size: 2rem;
    margin-right: 4.8rem;
  }

  .team-score {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .unknown-team-left {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .unknown-team-right {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .known-team-left {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: .7rem;
  }

  .known-team-right {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: .7rem;
  }

  .cariri-left {
    font-size: 1.8rem;
    margin-left: 4.8rem;
  }

  .cariri-right {
    font-size: 1.8rem;
    margin-right: 4.8rem;
  }
}


@media only screen and (max-width: 991px) {
  .unknown-team-left {
    font-size: 1.6rem;
    margin-left: -.7rem;
  }

  .unknown-team-right {
    font-size: 1.6rem;
    margin-right: -.7rem;
  }

  .known-team-left {
    font-size: 1.5rem;
    margin-left: -1.5rem;
    margin-top: 1.2rem;
  }

  .known-team-right {
    font-size: 1.5rem;
    margin-right: -1.5rem;
    margin-top: 1.2rem;
  }

  .team-score {
    font-size: 2rem;
  }

  .score-penalties-left {
    font-size: 1.6rem;
    margin-left: .5rem;
  }
  
  .score-penalties-right {
    font-size: 1.6rem;
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 840px) {
  .known-team-left {
    font-size: 1.6rem;
    margin-left: -1.3rem;
    margin-top: 1.2rem;
  }

  .known-team-right {
    font-size: 1.6rem;
    margin-right: -1.3rem;
    margin-top: 1.2rem;
  }

  .cariri-left {
    font-size: 1.6rem;
    margin-left: 3rem;
  }

  .cariri-right {
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  .team-score {
    font-size: 2rem;
  }

  .score-penalties-left {
    font-size: 1.6rem;
    margin-left: .5rem;
  }
  
  .score-penalties-right {
    font-size: 1.6rem;
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 768px) {
  .unknown-team-left {
    font-size: 1.5rem;
    margin-left: -1.1rem;
    margin-top: .8rem;
  }

  .unknown-team-right {
    font-size: 1.5rem;
    margin-right: -1.1rem;
    margin-top: .8rem;
  }

  .known-team-left {
    font-size: 1.5rem;
    margin-left: -2rem;
    margin-top: .3rem;
  }

  .known-team-right {
    font-size: 1.5rem;
    margin-right: -1.3rem;
    margin-top: .3rem;
  }

  .cariri-left {
    font-size: 1.5rem;
    margin-left: 3rem;
  }

  .cariri-right {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .score-penalties-left {
    font-size: 1.7rem;
    margin-left: .5rem;
  }
  
  .score-penalties-right {
    font-size: 1.7rem;
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 415px) {
  .unknown-team-left {
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-top: .5rem;
  }

  .unknown-team-right {
    font-size: 1.5rem;
    margin-right: -1rem;
    margin-top: .5rem;
  }

  .team-score {
    font-size: 2rem;
  }

  .score-penalties-left {
    font-size: 1.6rem;
    margin-left: .5rem;
  }
  
  .score-penalties-right {
    font-size: 1.6rem;
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 390px) {
  .unknown-team-left {
    font-size: 1.3rem;
    margin-left: -1rem;
    margin-top: .5rem;
  }

  .unknown-team-right {
    font-size: 1.3rem;
    margin-right: -1rem;
    margin-top: .5rem;
  }

  .known-team-left {
    font-size: 1.3rem;
    margin-left: -2.5rem;
    margin-top: .3rem;
  }

  .known-team-right {
    font-size: 1.3rem;
    margin-right: -2.5rem;
    margin-top: .3rem;
  }

  .cariri-left {
    font-size: 1.4rem;
    margin-left: 3rem;
  }

  .cariri-right {
    font-size: 1.4rem;
    margin-right: 2rem;
  }

  .team-score {
    font-size: 1.8rem;
  }

  .score-penalties-left {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .score-penalties-right {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .unknown-team-left {
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-top: .6rem;
  }

  .unknown-team-right {
    font-size: 1.5rem;
    margin-right: -1rem;
    margin-top: .6rem;
  }

  .known-team-left {
    font-size: 1.3rem;
    margin-left: -2rem;
    margin-top: .5rem;
  }

  .known-team-right {
    font-size: 1.3rem;
    margin-right: -2rem;
    margin-top: .5rem;
  }

  .team-score {
    font-size: 1.8rem;
  }

  .score-penalties-left {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .score-penalties-right {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  .unknown-team-left {
    font-size: 1.4rem;
    margin-left: -1.3rem;
    margin-top: .3rem;
  }

  .unknown-team-right {
    font-size: 1.4rem;
    margin-right: -1.3rem;
    margin-top: .3rem;
  }

  .known-team-left {
    font-size: 1.3rem;
    margin-left: -1.3rem;
    margin-top: .3rem;
  }

  .known-team-right {
    font-size: 1.3rem;
    margin-right: -1.3rem;
    margin-top: .3rem;
  }

  .cariri-left {
    font-size: 1.3rem;
    margin-left: 3rem;
  }

  .cariri-right {
    font-size: 1.3rem;
    margin-right: 2rem;
  }

  .score-penalties-left {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .score-penalties-right {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .unknown-team-left {
    font-size: 1.1rem;
    margin-left: -.6rem;
    margin-top: .8rem;
  }

  .unknown-team-right {
    font-size: 1.1rem;
    margin-right: -.6rem;
    margin-top: .8rem;
  }

  .known-team-left {
    font-size: 1.1rem;
    margin-left: -1.3rem;
    margin-top: .3rem;
  }

  .known-team-right {
    font-size: 1.1rem;
    margin-right: -1.3rem;
    margin-top: .3rem;
  }

  .cariri-left {
    font-size: 1.1rem;
    margin-left: 2rem;
  }

  .cariri-right {
    font-size: 1.1rem;
    margin-right: 2rem;
  }

  .score-penalties-left {
    font-size: 1.5rem;
    margin-left: .5rem;
  }
  
  .score-penalties-right {
    font-size: 1.5rem;
    margin-right: .5rem;
  }
}
