.scorers {
  border-top: 1px solid lightgrey;
  overflow: auto;
  max-height: 40rem;
}

.scorers__title {
  font-size: 3rem;
}

.scorers__subtitle {
  color: grey;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.scorers__subtitle__player {
  padding-left: 1rem;
}

.scorers__subtitle__goals {
  padding-right: 4rem;
}

.scorers__photo {
  border-radius: 50%;
  margin-left: 2rem;
  width: 6.5rem;
}

.scorers__photo-empty {
  border-radius: 50%;
  margin-left: 3.5rem;
  width: 6.5rem;
}

.scorers__shield {
  width: 4.2rem;
  margin-left: 2rem;
}

.scorers__name_position {
  display: inline-table;
}

.scorers__name {
  display: block;
  font-size: 2.2rem;
  margin-left: 2rem;
}

.scorers__position {
  color: grey;
  display: inline;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.scorers_goals {
  float: right;
  font-size: 2.6rem;
  font-weight: 600;
}

.ranking {
  color: darkgrey;
  font-size: 3rem;
}

@media only screen and (max-width: 1199px) {
  .top-scorers {
    margin: 0 auto;
    width: 92rem;
  }

  .scorers__subtitle__player {
    padding-left: .1rem;
  }

  .scorers__subtitle__goals {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 991px) {
  .top-scorers {
    margin: 0 auto;
    width: 68rem;
  }

  .scorers__title {
    margin-top: 5rem;
  }

  .scorers__subtitle__player {
    padding-left: .1rem;
  }
  
  .scorers__subtitle__goals {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .top-scorers {
    margin: 0 auto;
    width: 69rem;
  }
}

@media only screen and (max-width: 600px) {
  .top-scorers {
    margin: 0 auto;
    width: 50rem;
  }
}

@media only screen and (max-width: 415px) {
  .top-scorers {
    width: 38rem;
  }

  .scorers__subtitle__player {
    padding-left: .1rem;
  }
  
  .scorers__subtitle__goals {
    padding-right: 1rem;
  }

  .scorers__shield {
    width: 3.2rem;
    margin-left: 1.2rem;
  }

  .scorers__photo {
    border-radius: 50%;
    margin-left: 1.2rem;
    width: 4.5rem;
  }
  
  .scorers__photo-empty {
    border-radius: 50%;
    margin-left: 2.7rem;
    width: 4.5rem;
  }

  .scorers__name {
    display: block;
    font-size: 1.8rem;
    margin-left: 1.2rem;
  }

  .ranking {
    color: darkgrey;
    font-size: 2.5rem;
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 390px) {
  .top-scorers {
    width: 35rem;
  }
}

@media only screen and (max-width: 375px) {
  .top-scorers {
    width: 35rem;
  }

  .scorers__name {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 375px) {
  .top-scorers {
    width: 33rem;
  }
}

@media only screen and (max-width: 320px) {
  .scorers__subtitle__player {
    padding-left: .1rem;
  }
  
  .scorers__subtitle__goals {
    padding-right: 1rem;
  }

  .scorers__shield {
    width: 3.2rem;
    margin-left: 1.2rem;
  }

  .scorers__photo {
    border-radius: 50%;
    margin-left: 1.2rem;
    width: 4.7rem;
  }
  
  .scorers__photo-empty {
    border-radius: 50%;
    margin-left: 2.4rem;
    width: 4.8rem;
  }

  .scorers__name {
    display: block;
    font-size: 2.5rem;
    margin-left: 1.2rem;
  }

  .ranking {
    color: darkgrey;
    font-size: 2.5rem;
    margin-left: -1rem;
  }
}