.table {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-top: .5rem;
}

.table__title {
  font-size: 3rem;
  margin: 12rem 0 2rem;
}

.btn {
  font-size: 1.6rem;
}

.button-titular {
  margin-right: .4rem;
}

.table td {
  font-size: 1.8rem;
  padding: 1.5rem 1.5rem;
}

.table th {
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
}

.position {
  color: grey;
  padding-right: 1.5rem;
}