.table {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-top: .5rem;
}

.table__title {
  font-size: 3rem;
  margin: 12rem 0 2rem;
}

.btn {
  font-size: 1.6rem;
}

.button-titular {
  margin-right: .4rem;
}

.table td {
  font-size: 1.8rem;
  padding: 1.5rem 1.5rem;
}

.table th {
  font-size: 1.5rem;
  padding: 1rem 1.8rem;
}

.position {
  color: grey;
  padding-right: 1.5rem;
}

.ranking-align {
  margin-left: 1rem;
}

.table__bottom-info {
  font-size: 1rem;
  font-weight: 600;
  margin: -2rem 1rem 6rem 4rem;
}

.bottom-info-shape {
  background-color: blue;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 1rem 0 -2rem;
}

